<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sana App</title>
    <meta name="description" content="Sana - Uma comunidade de terapeutas e clientes. Um aplicativo para a sua saúde.">
    <meta name="keywords" content="Sana, App, Massagem, Terapia">
    <meta name="robots" content="index, follow">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="src/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <nav class="navegation">
        <h2 class="nav-title" style="margin-left: 150px;">
            <a href="/login">Agende um momento</a></h2>
        <h2 class="nav-title">
            <a href="">Quem são?</a></h2>
        <h2 class="nav-title">
            <a href="">Cursos</a></h2>
        <h2 class="nav-title">
            <a href="">Seja Parceiro</a></h2>
    </nav>

</body>

</html>