<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sana App</title>
    <meta name="description" content="Sana - Uma comunidade de terapeutas e clientes. Um aplicativo para a sua saúde.">
    <meta name="keywords" content="Sana, App, Massagem, Terapia">
    <meta name="robots" content="index, follow">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="src/img/logo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mainTerapeutaStyle.css">
</head>

<body>

    <div id="profile" class="profile">
        <nav class="navegation-user" id="navegation">
            <a href="/"><img id="lex-logo-main" src="src/img/logo.png" alt="Lex App"></a>
            <div id="config-btn" class="container">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </nav>

        <div class="show-panel">
            <div id="day-selected" class=" none">
                <h2 id="title-day-selected">Day</h2>
                <h2 id="title-week-selected">Week</h2>
                <h2 id="title-month-selected">Month</h2>
                <button id="btn-voltar-calendario" class="sana-btn">Voltar</button>
                <div id="diaAtual"></div>
                <div class="lista-horarios">
                    <table class="horarios">
                        <tr class="tr-hora">
                            <th class="th-hora">8:00</th>
                            <td class="td-mark">Marcar Horario</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div name="terapeuta-agenda" id="agenda" class="div-agenda none">


                <h2 class="titulo" id="titulo-do-ano">ANO</h2>
                <h2 class="titulo" id="titulo-do-mes">MES</h2>
                <table name="agenda" class="calendario" id="calendario">
                    <thead name="dias-da-semana" class="dias-da-semana">
                        <td>Domingo</td>
                        <td>Segunda</td>
                        <td>Terça</td>
                        <td>Quarta</td>
                        <td>Quinta</td>
                        <td>Sexta</td>
                        <td>Sábado</td>

                    </thead>
                    <tbody name="dias-do-mes" id="dias-do-mes" class="dias-do-mes">
                        <tr name="semana-um" id="semana-um">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr name="semana-dois" id="semana-dois">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr name="semana-três" id="semana-três">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr name="semana-quatro" id="semana-quatro">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr name="semana-cinco" id="semana-cinco">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr name="semana-seis" id="semana-seis">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <button class="sana-btn agenda-btn" id="prev-month"><<</button>

                <button class="sana-btn agenda-btn" id="today-month">Dia De Hoje</button>
                <button class="sana-btn agenda-btn" id="next-month">>></button>

            </div>
            <div name="terapeuta-instruções" id="instruções" class="div-terapeuta">

            </div>
            <div name="terapeuta-mensagens" id="mensagens" class="none">

            </div>
            <div name="terapeuta-profile" id="perfil" class="div-terapeuta">
                <div>
                    <div>
                        <h2 id="nome-do-terapeuta">Nome do Terapeuta</h2>
                        <textarea id="area-nome" cols="60" rows="1" class="none"></textarea>
                        <br>
                        <a style="font-size: 1em;" id="editar-nome">Editar Nome</a>
                        <a style="font-size: 1em;" id="salvar-nome" class="none">Salvar Nome</a>
                        <br>
                        <br>


                        <div class="caixa-imagem">
                            <img class="user-img" src="src/img/default-user-image.png" alt="Foto do usuário">
                        </div>
                        <a id="trocar-foto">Trocar Foto do Perfil</a>
                        <br>
                        <button class="sana-btn none" id="save-foto-btn">Salvar Foto</button>
                        <input id="input-foto-perfil" type="file">
                    </div>
                    <div id="infos-de-contato">
                        <p id="descrição-da-saude">Você tem algum problema de saúde? Descreva aqui!</p>

                        <textarea id="text-de-edição" resize="none" name="edit" cols="60" rows="10" class="none"></textarea>
                        <br>
                        <button class="sana-btn" id="editar-descrição">Editar Especificações</button>
                        <button class="sana-btn none" id="salvar-descrição">Salvar</button>
                    </div>
                </div>
                <div name="terapeuta-suporte" id="suporte" class="none">

                </div>
            </div>

        </div>
        <div id="config-lista" class="config-lista">
            <ul>
                <li class="btn-agenda">
                    Agenda
                </li>
                <li class="btn-instruções">
                    Instruções
                </li>
                <li class="btn-mensagens">
                    Mensagens
                </li>
                <li class="btn-perfil">
                    Perfil
                </li>
                <li class="btn-suporte">
                    Suporte
                </li>
                <li class="btn-logout">
                    <a id="logout-link" class="none" href="/logout"></a>
                    Log Out
                </li>
            </ul>
        </div>
    </div>
    <script src="./src/util/HttpRequest.js"></script>
    <script src="./src/models/usuario.js"></script>

    <script src="./src/controller/mainUsuario/agendaController.js"></script>
    <script src="./src/controller/mainUsuario/profileController.js"></script>
    <script src="./src/controller/mainUsuario/appProfile.js"></script>
</body>

</html>